# 端口
PORTLESS_PORT=<number>
PORTLESS_APP_PORT=<number>
PORTLESS_HTTPS=0
PORTLESS_LAN=1
PORTLESS_LAN_IP=<address>
PORTLESS_TLD=localhost,test
PORTLESS_WILDCARD=1
PORTLESS_SYNC_HOSTS=0
PORTLESS_TAILSCALE=1
PORTLESS_FUNNEL=1
PORTLESS_NGROK=1
PORTLESS_STATE_DIR=<path>
